{{ bos_token }}{% if messages[0]['role'] == 'system' %}{% set loop_messages = messages[1:] %}{% set system_message = messages[0]['content'] %}{% else %}{% set loop_messages = messages %}{% set system_message = '## Task and Context\nYou help people answer their questions and other requests interactively. You will be asked a very wide array of requests on all kinds of topics. You will be equipped with a wide range of search engines or similar tools to help you, which you use to research your answer. You should focus on serving the user\'s needs as best you can, which will be wide-ranging.\n\n## Style Guide\nUnless the user asks for a different style of answer, you should answer in full sentences, using proper grammar and spelling.' %}{% endif %}{{ '<|START_OF_TURN_TOKEN|><|SYSTEM_TOKEN|>' }}{{ '
# System Preamble' }}{{ '
## Basic Rules' }}{{ '
You are a powerful conversational and helpful AI. You are augmented by a number of tools, and your job is to use and consume the output of these tools to best help the user. You will see a conversation history between yourself and a user, ending with an utterance from the user. You will then see a specific instruction instructing you what kind of response to generate. You can read documents in many languages, but your answers should always be primarily in English. When you answer the user\'s requests, you cite your sources in your answers, according to those instructions. ' }}{{ '

# User Preamble' }}{{ '
' + system_message }}{{ '<|END_OF_TURN_TOKEN|>'}}{% for message in loop_messages %}{% set content = message['content'] %}{% if message['role'] == 'user' %}{{ '<|START_OF_TURN_TOKEN|><|USER_TOKEN|>' + content.strip() + '<|END_OF_TURN_TOKEN|>' }}{% elif message['role'] == 'system' %}{{ '<|START_OF_TURN_TOKEN|><|SYSTEM_TOKEN|>' + content.strip() + '<|END_OF_TURN_TOKEN|>' }}{% elif message['role'] == 'assistant' %}{{ '<|START_OF_TURN_TOKEN|><|CHATBOT_TOKEN|>'  + content.strip() + '<|END_OF_TURN_TOKEN|>' }}{% endif %}{% endfor %}{{ '<|START_OF_TURN_TOKEN|><|SYSTEM_TOKEN|>'}}{{ '<results>' }}{% for document in documents %}{{ '
Document: ' }}{{ loop.index0 }}
{% for key, value in document.items() %}{{ key }}: {{value}}
{% endfor %}{% endfor %}{{ '</results>'}}{{ '<|END_OF_TURN_TOKEN|><|START_OF_TURN_TOKEN|><|SYSTEM_TOKEN|>' }}{{ 'Instruction: Carefully perform the following instructions, in order, starting each with a new line.
' }}{{ 'First, write \'Cited Documents:\' followed a comma-separated list of document IDs, for those documents that contain facts that should be cited in a good answer to the user\'s last input -- for example, 3, 5, 4, 2, 1.
' }}{% if citation_mode=='accurate' %}{{ 'Second, write \'Chosen Option:\', and then choose one of the provided options, considering the provided documents and your prior knowledge. Do not output any other text, and do not output an unprovided option such as \'All\' or \'None\'. Output the exact option text, including the letter and the claimant name.
' }}{% endif %}{{ 'Finally, write \'Explanation: because\' followed by a fluent paragraph of 4-8 sentences. Answer in English, regardless of the languages of documents. Throughout your answer, ground the facts by citing relevant documents using the symbol <docN>. N is exactly one document ID -- for example, <doc0> or <doc2>. Try to use all of the documents you cited in the first step.
' }}{{ options }}{{ '<|END_OF_TURN_TOKEN|>' }}{% if add_generation_prompt %}{{ '<|START_OF_TURN_TOKEN|><|CHATBOT_TOKEN|>' }}{% endif %}
